* {
    margin: 0;
    padding: 0;
}
/* Desktop devices */
body {
    font-family: Helvetica, sans-serif;
    background: #f4f4f4;
    color: #353535;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 40px;
    background: #efefef;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #33323070;
}

.navbar ul li a:hover {
    animation-name: navbar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes navbar {
    from {
        color: #33323070;
    }
    to {
        color: rgb(44, 43, 39);
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/*Section Images*/
section#home {
    background: /* #06081e;*/ #f4f4f4;
    display: flex;
    flex-direction: column-reverse;

}

section#portfolio {
    background: #f4f4f4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10%  1fr 10%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    '. . .'
    '. container .'
    '. . .';
}

.card-container {  
    grid-area: container;
    background: rgba(197, 186, 167, 0.082);
    width: 80vw;
    height: 30vw;
    border-radius: 1rem;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-content: center;
    padding: 5em;
}
.card {
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.274);
    width: 60vh;
    height: 35vh;
    border-radius: 10px;
    border: 2px solid rgba(172, 172, 172, 0.5);
    color: #c0bdbd;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1em;
}
#logo {
    width: 10vw;
    height:10vw;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(95, 93, 93, 0.459);
    font-weight: bolder;
    font-size: 1.5vw;
    margin-top: .5em;
}

section#resume {
    display: flex;
    flex-flow: wrap row;
}
.resume-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
#self {
    width: 15vw;
    height: 15vw;
}

.resume-info {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1.5em;
}

.resume-contact {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

#websites {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom-left-radius: 50px;

}

.website-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#cv {
    border: 1px solid rgba(73, 73, 73, 0.596);
    background-color: transparent;
    outline: none;
    border-radius: .3em;
    padding: .3em;
    cursor:pointer;
}

#cv:hover {
    animation-name: cv-button;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes cv-button {
    from {
        color: #f4f4f4;
    }
    to {
        outline: none;
        border-radius: .3em;
        padding: .3em;
        color: #f4f4f4;
        background-color: #333;
        border: 1px solid #f4f4f4;
    }
}

.gotop-btn {
    display: none;
}